site_name: WebDSL
site_description: Documentation of the WebDSL domain-specific language for modeling web applications with a rich data model.
site_url: https://webdsl.github.io/webdsl-docs/

repo_url: https://github.com/webdsl/webdsl
edit_uri: https://github.com/webdsl/webdsl-docs/edit/main/docs

nav:
  - Home:
    - index.md
  - Tutorials:
    - tutorials/index.md
    - tutorials/hello-world.md
    - tutorials/pages-and-navigation.md
    - tutorials/templates.md
  - How-Tos:
    - howtos/index.md
    - howtos/install.md
    - howtos/install-eclipse-bundle.md
    - howtos/install-eclipse-plugin-manually.md
    - howtos/install-cli.md
  - Reference:
    - reference/index.md
    - reference/using-the-editor.md
    - reference/command-line-use.md
    - reference/webdsl-apps.md
  - Background:
    - background/index.md
    - background/about.md
    - background/publications.md
    - background/meeting-notes.md
  - Support:
    - support/index.md
  - Releases:
    - releases/index.md

theme:
  name: material
  custom_dir: overrides
  language: en
  logo: assets/logo.svg
  favicon: assets/favicon.png
  icon:
    logo: fontawesome/solid/sticky-note
    repo: fontawesome/brands/github
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: orange
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: orange
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  font:
    code: JetBrains Mono
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.indexes
    
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - codehilite:
      guess_lang: false
  - def_list
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.saneheaders
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search
  - git-revision-date:
      enabled_if_env: CI
  - macros

extra:
  os:
    windows: ":fontawesome-brands-windows: Windows"
    linux: ":fontawesome-brands-linux: Linux"
    macos: ":fontawesome-brands-apple: macOS"
